.detail{background-color: #eee}
.detail-title{background-color: #fff;}
.big-pic{
  text-align: center;
  width: 100%;
  overflow: hidden;
  position: relative;
}
.show-price{height: 4rem;line-height: 4rem;}
.price{color: #ec9545;font-size: 2rem;padding-right: .6rem;padding-left: .6rem;}
.promise{padding: .4rem .8rem;background-color: #f35e0c;color:#fff;}
.certification{padding: .4rem .8rem;background-color: #ff8d00;color:#fff;}

.detail-content{margin-top:10px;background-color: #fff;padding: .6rem 1rem;margin-bottom: 3.2rem;}

.detail-button{display: flex;position: fixed;left: 0;bottom: 0;text-align: center;width: 100%;height: 3rem;line-height: 3rem;color: #fff;}
.shop-car{flex:3;background-color: #FF9500}
.buy{flex:2;background-color: #DD2727}

/*4.30修改*/
.collect{
	padding: 0 10px;
	background-color: #eee;
	color: #333;
}
.share{
	float: right;
	margin: 6px 10px 0 0px;
	color: #666666;
}
#photograph{
	transition:all 1s ;
}
.nav{
		position: relative;
    top: -1rem;
}
.nav>div{
	text-align: center;
}
.nav>div>span{
    display: inline-block;
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 0.5rem;
    margin-right: 0.5rem;
    background-color: #fff;
   
}
.nav>div>.color{
	background-color: orange;
}
